# {{ ansible_managed }}
# Секреты сервиса monitoring-server. Читается systemd через EnvironmentFile=.
MONITORING_API_KEY={{ monitoring_api_key }}
{% if monitoring_client_update_key is defined and monitoring_client_update_key %}
MONITORING_CLIENT_UPDATE_KEY={{ monitoring_client_update_key }}
{% endif %}
